DB_URI=mongodb+srv://<username>:<password>@<cluster>.w1owvej.mongodb.net/<database>

KABUM=https://www.kabum.com.br
AMAZON=https://www.amazon.com.br

CONSUMER_KEY=
CONSUMER_SECRET=
ACCESS_TOKEN=
ACCESS_TOKEN_SECRET=
BEARER_TOKEN=